*.pth
*.onnx
venv/
build/
__pycache__/
EfficientNet/NEU-DET/
EfficientNet/results/
EfficientNet/sample_visualizations/
PatchCore/marble/
PatchCore/models/
PatchCore/results/

.DS_Store
Native/model.mlpackage/
EfficientNet/training_history.json
Native/SurfaceDefectDetector.mlpackage/
Native/output/
Native/SurfaceDefectDetector_compiled.mlpackage/Manifest.json
Native/SurfaceDefectDetector_compiled.mlpackage/Data/com.apple.CoreML/model.mlmodel
Native/SurfaceDefectDetector_compiled.mlpackage/Data/com.apple.CoreML/weights/weight.bin
Native/SurfaceDefectDetector.mlpackagec/Manifest.json
Native/SurfaceDefectDetector.mlpackagec/Data/com.apple.CoreML/model.mlmodel
Native/SurfaceDefectDetector.mlpackagec/Data/com.apple.CoreML/weights/weight.bin
Native/model/SurfaceDefectDetector.mlpackage/Manifest.json
Native/model/SurfaceDefectDetector.mlpackage/Data/com.apple.CoreML/FeatureDescriptions.json
Native/model/SurfaceDefectDetector.mlpackage/Data/com.apple.CoreML/Metadata.json
Native/model/SurfaceDefectDetector.mlpackage/Data/com.apple.CoreML/model.mlmodel
Native/model/SurfaceDefectDetector.mlpackage/Data/com.apple.CoreML/weights/weight.bin
Native/model/SurfaceDefectDetector.mlpackagec/coremldata.bin
Native/model/SurfaceDefectDetector.mlpackagec/model.mil
Native/model/SurfaceDefectDetector.mlpackagec/analytics/coremldata.bin
Native/model/SurfaceDefectDetector.mlpackagec/weights/weight.bin
.vscode/settings.json
EfficientNet/EffNet_insp/training_history.json
Native/modelInfo.inf
